    body {
        background-color: dimgray;
        color: mistyrose;
        font-family: Helvetica, sans-serif;
}

    p {
     text-align: justify
}

    .colon {
          position: absolute;
          bottom: 0;
          left: 15;
	  text-align: center;
      font-family: monospace;
}

   .link fdreerf {
	   width: 143.631px; 
	   text-align: center;
}

   .link scratch {
     width: 142.679px; 
     text-align: center;
}

   .link ocular {
     width: 142.679px; 
     text-align: center;
}

   .link shefwerld {
     width: 143.631px; 
     text-align: center;
}

   .title {
	   text-align: center;
}

   .head {
     height: 12px; 
     margin-left: auto; 
     margin-right: auto;
}
